@font-face {
  font-family: prim;
  src: url(./assests/Signika/Signika-VariableFont_GRAD\,wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .container {
  height: 100%;
  width: 75%;
  margin-top: 1%;
}
section .headContent_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .headContent_wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
section .headContent_wrap .logo img {
  width: 75%;
}
section .headContent_wrap .row {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  width: 100%;
}
section .headContent_wrap .row span {
  font-family: prim;
  letter-spacing: 1px;
  color: rgb(105, 105, 105);
}
section .headContent_wrap .row .column {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section .headContent_wrap .row .column h2 {
  font-family: prim;
  font-size: 2.4rem;
  font-weight: 600;
}
section .headContent_wrap .row .column .link {
  font-size: 10px;
  overflow: hidden;
}
section .headContent_wrap .row .column .link img {
  height: 40px;
  width: 40px;
}
section .headContent_wrap .row .column .stdnt_btn {
  padding: 13px 25px;
  border-radius: 50px;
  border: 1px solid #0d6db7;
}
section .headContent_wrap .row .column .stdnt_btn .fa-user-graduate {
  font-size: 20px;
  color: #0d6db7;
}
section .headContent_wrap .row .column .stdnt_btn span {
  color: #0d6db7;
  font-size: 20px;
}
section .headContent_wrap .row .text_wrap {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
section .headContent_wrap .row .text_wrap .links_col {
  padding: 10px 20px;
}
section .headContent_wrap .row .text_wrap .links_col span a {
  color: #0d6db7;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
section .input_container {
  width: 100%;
}
section .input_container .input_form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
section .input_container .input_form .imp_row {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(201, 201, 201);
}
section .input_container .input_form .imp_row .inpu_div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: white;
}
section .input_container .input_form .imp_row .inpu_div label {
  color: #0d6db7;
  font-family: prim;
  font-size: 20px;
  margin-bottom: 10px;
}
section .input_container .input_form .imp_row .inpu_div .input_box select {
  outline: none;
  border: 2px solid greenyellow;
  padding: 0px 20px 0px 20px;
  background: none;
  width: 100%;
  height: 70px;
  font-size: 18px;
  font-family: prim;
  color: gray;
  border-radius: 4px;
}
section .input_container .input_form .imp_row .inpu_div .input_box select:focus {
  outline: none;
  border: 2px solid #0d6db7;
}
section .input_container .input_form .imp_row .inpu_div .full_name {
  outline: none;
  border: 2px solid greenyellow;
  padding: 0px 20px 0px 20px;
  background: none;
  width: 100%;
  height: 70px;
  font-size: 18px;
  font-family: prim;
  color: gray;
  border-radius: 4px;
}
section .input_container .input_form .addressBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
section .input_container .input_form .addressBox label {
  color: #0d6db7;
  font-family: prim;
  font-size: 20px;
  margin-bottom: 10px;
}
section .input_container .input_form .addressBox .addres_inp {
  outline: none;
  border: 2px solid greenyellow;
  padding: 0px 20px 0px 20px;
  background: none;
  width: 100%;
  height: 70px;
  font-size: 18px;
  font-family: prim;
  color: gray;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */
